@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.search{
  opacity: .3;
  transition: .5s;
}

.search:hover{
  opacity:1
}

.anim{
  position: relative;
  animation-name: up-and-down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
}

@keyframes up-and-down{
  0% {top:7vh;}
  20%{top:3vh;}
  50%{top:0vh;}
  75%{top:3vh;}
  100%{top:7vh;}
}